src/main/mule/accounts-papi.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd ">
    <flow name="accounts-papi-main" doc:id="2d2e9981-4c61-4895-bc7b-52561efa365d">
        <http:listener path="/api/*" config-ref="HTTP_Listener_config">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body><![CDATA[#[payload]]]></http:body>
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:error-response>
        </http:listener>
        <apikit:router config-ref="accounts-papi-config" doc:id="7501f1ca-7561-4bf3-a61e-79c2c02c6727"/>
		<error-handler ref="lm-errorhandlerError_Handler" />
    </flow>
    <flow name="accounts-papi-console" doc:id="18870d74-4341-408e-bf03-6e4bd4e84bc5">
        <http:listener path="/console/*" config-ref="HTTP_Listener_config">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body><![CDATA[#[payload]]]></http:body>
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:error-response>
        </http:listener>
        <apikit:console config-ref="accounts-papi-config"/>
		<error-handler ref="lm-errorhandlerError_Handler" />
    </flow>
    <flow name="put:\accounts\(accountid):application\json:accounts-papi-config">
		<flow-ref doc:name="Flow Reference" doc:id="8fdc2216-a0d4-4465-bbd2-900775667fd6" name="impl-put:\accounts:application\json:accounts-sfdc-sapi-config"/>
		<error-handler ref="lm-errorhandlerError_Handler" />
    </flow>
    <flow name="post:\accounts:application\json:accounts-papi-config">
		<flow-ref doc:name="Flow Reference" doc:id="41df8420-183d-41e1-b796-16c08e334e57" name="impl-post:\accounts:application\json:accounts-sfdc-sapi-config"/>
		<error-handler ref="lm-errorhandlerError_Handler" />
    </flow>
</mule>
